.destination-wrapper-section {
}
.rmbt-destination-full-width {
}
.rmbt-destination {
  &__row {
    .row-flex();
    justify-content: space-between;
    row-gap: 55px;
  }
  .rmbt-card-destination {
    .col();
    // background-color: transparent;

    .rmbt-card__img {
      width: 380px;
      height: 360px;
    }

    .rmbt-card__date {
    }

    .rmbt-card__body {
      width: 295px;
      background-color: #fff;
      position: relative;
      top: -90px;
      box-shadow: 10.32px 14.13px 35px 0px rgba(0, 0, 0, 0.12);
    }
    .rmbt-card__footer {
      height: 86px;
      line-height: 86px;
      border-top: 1px solid #c4c4c4;
    }
  }
}
