.categories-block-wrapper-section {
}
.rmbt-categories-block-full-width {
  padding-left: 15px;
  padding-right: 15px;
}
.rmbt-categories-block {
  &__row {
    height: 88px;
    display: flex;

    .to(768px,{
      height: auto;
    });
  }
  &__col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    border: 1px solid #c4c4c4;
    overflow: hidden;

    .to(768px,{
      flex-direction: column;
      border: none;
    });

    a {
      display: block;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;

      border: 1px solid #c4c4c4;
      flex-basis: 260px;
      text-align: center;
      max-height: 88px;
      line-height: 88px;
      width: 260px;

      font-size: 24px;
      font-family: lato;
      font-weight: 600;
      color: #000000;
      text-transform: capitalize;
      text-decoration: none;

      transition: all 0.3s ease;

      &:hover {
        background-color: #0336ff;
        border: 1px solid #0336ff;

        color: #fff;

        transition: all 0.3s ease;
      }
    }
  }
}
